QMainWindow {
    background-color: white;
}
QTextEdit {
    background-color: #F0F0F0;  /* making the background a bit lighter */
    color: black;  /* making the font color black */
    border: 1px solid black;
}
QPushButton {
    background-color: white;
    color: black;
    border: 1px solid black;
}
QStatusBar {
    font-weight: bold;
    border-top: 1px solid black;
}
QPushButton#ThemeButton {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px;
}